@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin:0; padding:0;}

body{background-color: #ffffff;
    color:#333333;
    font-family: "Quicksand", sans-serif;}

a{text-decoration: none;
    color:inherit;}
p{font-family:  "Noto Sans KR", sans-serif;
    font-size: 14px;
    padding-top:5px;}

.intro{position:relative;
        width:100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background-color:black;
        color:#ffffff;}

.intro_title::after{
    content : "|";
    display: inline-block;
    font-size: 80px;
    animation: move 1000ms infinite;
}

@keyframes move{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.btn{position:absolute;
    top:90%;
    transform: translate(-90%);
    width:40px;
    height:40px;
    opacity: 0;
    background-image: url("../image/arrow.png");
    background-repeat: no-repeat;
    cursor: pointer;}

#game{width:80%;
    margin:100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}


.gamebox{width:300px;
        height:300px;
        margin:10px;
        text-align: center;
        line-height: 25px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
        cursor: pointer;}

.gamebox > div{width:100%;
                padding-top:20px;}

.gamebox img {width:50%;
            padding:15px;}

.gamebox:hover{transform: translate(0, -10px);
                margin-bottom:10px;
                transition: 0.5s;}